services:
  db:
    image: postgres:latest
    restart: always
    ports:
      - "5432:5432"
    environment:
      POSTGRES_PASSWORD: 'postgres'
      POSTGRES_USER: 'postgres'
    volumes:
      - /local/pg_storage/path:/var/lib/postgresql/data
      - ./db/init.sql:/docker-entrypoint-initdb.d/init.sql

  qdrant:
    image: qdrant/qdrant:latest
    restart: always
    container_name: qdrant
    ports:
      - "6333:6333"
      - "6334:6334"
    expose:
      - 6333
      - 6334
      - 6335
    volumes:
      - /local/qdrant_storage/path:/qdrant/storage

  terms:
    image: ghcr.io/keeleinstituut/kva-terminiprojekt:250318
    container_name: panel_riigikaitse
    restart: always
    env_file: "./.env"
    ports:
      - "5006:5006"
    expose:
      - 5006
    volumes:
      - local/authentication_credentials/file.json:/app/config/credentials.json
    command: ["--cookie-secret", "my_super_safe_cookie_secret_2", "--basic-auth", "../config/credentials.json", "--port", "5006","--allow-websocket-origin", "*"]

  terms_2:
    image: ghcr.io/keeleinstituut/kva-terminiprojekt:250318
    container_name: panel_siseturvalisus
    restart: always
    env_file: "./.env.siseturvalisus"
    ports:
      - "5007:5007"
    expose:
      - 5007
    volumes:
      - local/authentication_credentials/file.json:/app/config/credentials.json
    command: ["--cookie-secret", "my_super_safe_cookie_secret_2", "--basic-auth", "../config/credentials.json", "--port", "5007", "--allow-websocket-origin", "*"]
    


  nginx:
    image: nginx:latest
    container_name: nginx
    restart: always
    ports:
      - "80:80"

volumes:
  database_data:
    driver: local

configs:
  qdrant_config:
    file: ./qdrant_config.yaml